.searchbox {
   margin-right: 200px;
    display: flex;
    justify-content: center;
}

.gallery {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 180px 180px 180px 180px;
  grid-template-rows: 180px 180px 180px 180px;
}

.input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.input:placeholder {
    font-size: 16px;
    
}

 @media screen and (min-width: 768px) {
     .container {
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: space-between;
     }

     .container img {
         height: auto;
         width: initial;
     }

     .container a {
       max-width: 768px;
       display: grid;
     }
         .input-div {
             margin:auto;
         }
     }

     @media screen and (min-width: 1024px) {
        body { max-width: 1024px;
            margin: auto;
    

        }

        .container a {
            min-width: 1024px;
            display: grid;
        }

        .container a {
        width: 23%; 
        }

        
    }