.body {
padding: px;
}

.container {
    max-width: 800px;
    display: grid;
}

.container img {
height: auto;
width:  100%;
margin-bottom: 50px;

}

input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

input:placeholder {
    font-size: 16px;
    
}

 @media screen and (min-width: 768px) {
     .container {
         min-width: 768px;
         display: grid;
     }

     .container img {
         height: auto;
         width: initial;
     }

     .container a {
       max-width: 768px;
       display: grid;
     }
         .input-div {
             margin:auto;
         }
     }

     @media screen and (min-width: 1024px) {
        .container a {
            min-width: 1358px;
            display: grid;
        }

        .container a {
        width: 23%; 
        }

        

 }